* {
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  flex-direction: row;
  background-color: #f5f6fa;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  
  align-items: center;
  padding: 0.5rem;
  position: sticky;
  top: 0;
}
nav .title {
  font-style: italic;
  font-family: "Reem Kufi", sans-serif;
  font-size: 1.5rem;
  margin-right: 2rem;
  font-weight: bold;
  text-decoration: none;
  
}

nav ul {
  list-style: none;
  display: flex;
  gap: 0.3rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  /* text-decoration: underline; */
  color: rgba(41, 26, 26, 0.887);
  background-color: #eae138;

}
.nav-list .active {
  background: #1d4ed8;
}

.home-pre {
  white-space: pre-wrap;
  font-size: 20px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  color: #eae138;
}

.menuIcon {
  display: none;

}

@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0a2c8b;
    
  }
  .nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    
  }
  nav .menuIcon {
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 0.2rem;
  }

  .nav-list {
    display: none;
    /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-bottom: 0.2rem;
  }
  nav .title {
    display: flex;
    left: 0;
  }


}
nav .title{
  color: #e84118;
  font-size: large;
}

nav #menuOpen {
  display: flex;
}
