* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
nav .title{

   font-style: italic;
   font-family: 'Reem Kufi', sans-serif;
   font-size: 1.5rem;
   margin-right: 2rem;
   font-weight: bold;
   text-decoration: none;

}
nav {
   background-color: #a90909ab;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.5rem;
   
}

nav ul {
   list-style: none;
   display: flex;
   gap: 1.2rem;
}

nav ul li {
   list-style: none;
}

nav ul li a {
   display: block;
   text-decoration: none;
   color: white;
   padding: 0.5rem;
   margin: 0 0.5rem;
   border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
   /* text-decoration: underline; */
   color: rgba(41, 26, 26, 0.887);
   background-color: #eae138;
}
.active {
   
   background:#1d4ed8;

}
